{% extends 'plantilla.html' %}
{% load static %}
{% block body %}
<div class="row" >
    <div class="col-md-3" ></div>
    <div class="col-md-6 bg-black" >
        <h1 >Edicion de Casa</h1>
        <form action="/procesarEdicionCasa" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{casaEditar.id}}">
            <label for="direccion" >Direccion </label><br>
            <input class="form-control" type="text" name="direccion" id="direccion" value="{{casaEditar.direccion}}"><br>

            <label for="propietario" >Propietario</label><br>
            <input class="form-control " type="text" name="propietario" id="propietario" value="{{casaEditar.propietario}}"><br>

            <label for="telefono" >Telefono</label><br>
            <input class="form-control" type="text" name="telefono" id="telefono" value="{{casaEditar.telefono}}"><br>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'inicioca' %}">Cancelar</a><br><br>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}